@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --animate-fade-in-length0.75s: fade-in 0.75s ease-out both;
  --animate-fade-in-length0.75s-delay0.75s: fade-in 0.75s ease-out 0.75s both;
  --animate-fade-in-from-bottom-length0.75s-delay0.75s: fade-in-from-bottom 0.75s ease-out 0.75s both;
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }
  @keyframes fade-in-from-bottom {
    from {
      opacity: 0;
      transform: translate(0, 5%);
    } to {
      opacity: 100;
      transform: translate(0, 0);
    }
  }
}

@layer base {
  a {
    @apply text-blue-600 dark:text-blue-300 hover:brightness-150 hover:scale-105 transition-transform ease-in-out;
  }
  html {
    @apply scroll-smooth;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Oxygen, sans-serif;
}
